<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>非法访问</title>
    <style>
        .ff{
            padding:200px 0;
        }
        .ff img{
            width:90px;
            height:71px;
            margin: 0 auto;
            display: block
        }
        .ff div{
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="ff">
        <img src="/static/images/error.png" alt="">
        <div>请求失败，请<a href="http://139.129.201.205:5007/static/login.html">重新登录</a></div>
    </div>
</body>
</html>